<launch>
    <node pkg="decklink_ros" name="decklink_ros_node" type="decklink_ros_node" output="screen">
        <param name="camera_name" type="str" value="decklink"/>
        <!-- set path to calibration, e.g. set value="package://path/to/calibration/file.yaml" -->
        <param name="calibration_url" type="str" value=""/>  
    </node>
</launch>
